@import "tailwindcss";

:root {
  --color-primary: #079dd9;
  --color-secondary: #04b2d9;
  --color-orange: #f27b35;
  --color-orange-light: #f2a477;
  --color-light: #f2f2f2;

  --color-text: #4a4a4a;
  --color-text-dark: #252525;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-white);
  color: var(--color-text);
  font-family: var(--font-poppins), sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}